* text=auto

.gitattributes text eol=lf
.editorconfig text eol=lf
/mvnw text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.properties text eol=lf
.env.example text eol=lf
*.cmd text eol=crlf
